<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chk</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src="@{/js/checker/Checker.js}"></script>
</head>
<body>
    working...
    <div id = 'root-checker'>
        <form id = 'checkerForm' action="/chker/test" method="post">

            <input type="submit" value="test" >
        </form>

        <button id = 'btnAdd'> add </button>
        <button id = 'btnSend'> send </button>
    </div>
</body>
</html>